In [1]:
from azureml.core import Workspace
from azureml.core.authentication import InteractiveLoginAuthentication

import pandas as pd
import numpy as np
import datetime 
from sklearn.preprocessing import MultiLabelBinarizer

In [2]:
interactive_auth = InteractiveLoginAuthentication(tenant_id="39288a38-ff19-432c-8011-1cd9d0dff445")
ws = Workspace(subscription_id="793146d9-d4dc-4a73-9728-76c4ffd0cc0d", resource_group="rg_dynamics_test", workspace_name="resdynml1test", auth=interactive_auth)

## Load Data Files

### Symptoms

In [23]:
# df_symptoms_init = pd.read_csv('symptomcodes.csv', sep=';', header=0)

df_symptoms_init = ws.datasets['symptomcodes.csv']
df_symptoms_init = df_symptoms_init.to_pandas_dataframe()

symptoms_codes = pd.concat([df_symptoms_init.Symptom1.dropna(),
                            df_symptoms_init.Symptom2.dropna(),
                            df_symptoms_init.Symptom3.dropna(),
                            df_symptoms_init.Symptom4.dropna()],
                           axis=0).unique()
symptoms_codes = [ 'symptom_' + str(symp) for symp in symptoms_codes ]
symptoms_codes

['symptom_G001',
 'symptom_P002',
 'symptom_A002',
 'symptom_L001',
 'symptom_T001',
 'symptom_B001',
 'symptom_X001',
 'symptom_M002',
 'symptom_P001',
 'symptom_K001',
 'symptom_K002',
 'symptom_X002',
 'symptom_F003',
 'symptom_F001',
 'symptom_F002',
 'symptom_X004',
 'symptom_M001',
 'symptom_I001',
 'symptom_W001',
 'symptom_G002',
 'symptom_A001',
 'symptom_X003']

### Training Data

In [25]:
df = ws.datasets['ItemResourceData.csv']
df = df.to_pandas_dataframe()


# df = pd.read_csv('ItemResourceData.csv', sep=';', header=0, 
#                      dtype={
#                              'Installed Base.Product Group': str,
#                              'Installed Base.InstalledBase ProductID': str,
#                              'Job Card.JobCard Number': str,
#                              'Location.Country': str,
#                              'Location.City': str,
#                              'Location.Location Type': str,
#                              'Location.Postal Code': str,
#                              'Product.Product Name': str,
#                              'Product.Product Number': str,
#                              'ItemResourceAppliedQuantity': int,
#                              'Job Card.Date Start Work': str,
#                              'Job Card.Date End Work': str,
#                              'Job Card.ComponentCode': str,
#                              'Job Card.FailureCode': str,
#                              'Job Card.Symptom Description': str
#                      },
#                     parse_dates=['Job Card.Date Start Work',
#                                  'Job Card.Date End Work']
#                 )

print(df.dtypes)

Installed Base.Product Group                      object
Installed Base.InstalledBase ProductID            object
Job Card.JobCard Number                           object
Location.Country                                  object
Location.City                                     object
Location.Location Type                            object
Location.Postal Code                              object
Product.Product Name                              object
Product.Product Number                            object
ItemResourceAppliedQuantity                        int64
Job Card.Date Start Work                  datetime64[ns]
Job Card.Date End Work                    datetime64[ns]
Job Card.ComponentCode                            object
Job Card.FailureCode                              object
Job Card.Symptom Description                      object
dtype: object

#### Training Data

- One Dataset of training data will consist of multiple row with id 'Job Card.JobCard Number'
- so those row must first be integrated into one respectively

- probably: all rows of one job have the same
    - Installed Base
        - Product Group
        - ProductId
    - Location
        - Country
        - City
        - Location Type
        - Postal Code
    - Job Card
        - start
        - end
        - ComponentCode
        - FailureCode
        - description
        
- and different
    - Product
        - name
        - number
        - quantity
       
#### Target Fields

- Produkte und Services = 'Product.Product Name' bzw. 'Product.Product Number'
- Dauer = 'Job Card.Date End Work' - 'Job Card.Date Start Work'

## Clean Data

In [26]:
# get only data from last n years
n = 2

df_tr = df
df_tr = df[df['Job Card.Date Start Work']>(datetime.datetime.today() - datetime.timedelta(days=n*365))]
len(df_tr)

288990

In [ ]:
# zu entfernende Werte

# input
# df['Installed Base.Product Group'].unique() # nan, 0 (evtl 999999)
# df['Installed Base.InstalledBase ProductID'].unique() # nan, -
# df['Job Card.JobCard Number'].unique() # <blank>
# df['Location.Country'].unique() # nan
# df['Location.City'].unique() # nan
# df['Location.Postal Code'].unique() # nan
# df['Job Card.ComponentCode'].unique() # nan, 000 ??? evtl. als placeholder interpretieren für "keine Symptome genannt" ???
# df['Job Card.FailureCode'].unique() # nan, 000 ??? evtl. als placeholder interpretieren für "keine Symptome genannt" ???

# df['Job Card.Symptom Description'].unique() ===> erstmal weglassen, vlt später mit Übersetzung, Textanalyse

# target
# df['Product.Product Name'].unique()
# df['Product.Product Number'].unique()
# df['ItemResourceAppliedQuantity'].unique()
# df['Job Card.Date Start Work'].unique()
# df['Job Card.Date End Work'].unique() # <blank>

In [31]:
# check later if prod name und nr 1:1

# len(df.groupby(['Product.Product Name', 'Product.Product Number']))
# len(df['Product.Product Name'].unique())
# len(df['Product.Product Number'].unique())

13502

In [27]:
# remove '-' as Installed Base.InstalledBase ProductID
df_tr = df_tr.replace(['', '0', '-', '000','N/A'], np.nan)

In [28]:
# remove rows with any nan

# print(len(df_tr['Installed Base.Product Group'].dropna()))
# print(len(df_tr['Installed Base.InstalledBase ProductID'].dropna()))
# print(len(df_tr['Location.Country'].dropna()))
# print(len(df_tr['Location.City'].dropna()))
# print(len(df_tr['Location.Location Type'].dropna()))
# print(len(df_tr['Location.Postal Code'].dropna()))
# print(len(df_tr['Product.Product Number'].dropna()))
# print(len(df_tr['Product.Product Name'].dropna()))
# print(len(df_tr['ItemResourceAppliedQuantity'].dropna()))
# print(len(df_tr['Job Card.Date Start Work'].dropna()))
# print(len(df_tr['Job Card.Date End Work'].dropna()))
# print(len(df_tr['Job Card.ComponentCode'].dropna()))
# print(len(df_tr['Job Card.FailureCode'].dropna()))
# print(len(df_tr['Job Card.Symptom Description'].dropna()))

df_tr = df_tr[['Installed Base.Product Group', 'Installed Base.InstalledBase ProductID', 'Job Card.JobCard Number', 'Product.Product Number', 'Job Card.Date Start Work', 'Job Card.Date End Work', 'Job Card.ComponentCode', 'Job Card.FailureCode']]
df_tr = df_tr.dropna().reset_index(drop=True)

len(df_tr)

257760

## Collect Data

### CaseIds

In [32]:
case_ids = pd.DataFrame(df_tr['Job Card.JobCard Number'].unique(), columns=['CaseId'])
print(len(case_ids))
case_ids.head()

105090

                      CaseId
0   C-AT016226-ASCAL JC01.00
1  CAS-120240-N5Z8G3 JC01.00
2  CAS-162708-W1W3T3 JC01.00
3  CAS-192567-X1B6Y7 JC01.00
4  CAS-192567-X1B6Y7 JC01.01

### Installed Base - Product Group and ID

In [33]:
# Problem:
# and also multiple ids per group
# df_tr[['Installed Base.Product Group', 'Installed Base.InstalledBase ProductID']].groupby('Installed Base.Product Group').count()
# there are multiple groups per id
# df_tr[['Installed Base.Product Group', 'Installed Base.InstalledBase ProductID']].groupby('Installed Base.InstalledBase ProductID').count()

In [34]:
print(len(df_tr[['Installed Base.Product Group', 'Installed Base.InstalledBase ProductID']].groupby('Installed Base.Product Group')))
print(len(df_tr[['Installed Base.Product Group', 'Installed Base.InstalledBase ProductID']].groupby('Installed Base.InstalledBase ProductID')))

182
12277

In [35]:
df_base = df_tr[['Job Card.JobCard Number', 'Installed Base.Product Group', 'Installed Base.InstalledBase ProductID']]
df_base = df_base.drop_duplicates().reset_index(drop=True)
# rename caseid column
df_base = df_base.rename(columns={'Job Card.JobCard Number':'CaseId'})

df_base['Installed Base.Product Group'] = df_base['Installed Base.Product Group'].apply(lambda x: 'base_group_' + str(x)).reset_index(drop=True)
df_base['Installed Base.InstalledBase ProductID'] = df_base['Installed Base.InstalledBase ProductID'].apply(lambda x: 'base_id_' + str(x)).reset_index(drop=True)

print(len(df_base))
df_base.head()

105094

,CaseId,Installed Base.Product Group,Installed Base.InstalledBase ProductID
0,C-AT016226-ASCAL JC01.00,base_group_93102,base_id_1020023
1,CAS-120240-N5Z8G3 JC01.00,base_group_22301,base_id_111150095
2,CAS-162708-W1W3T3 JC01.00,base_group_22301,base_id_111150095
3,CAS-192567-X1B6Y7 JC01.00,base_group_22301,base_id_111150095
4,CAS-192567-X1B6Y7 JC01.01,base_group_22301,base_id_111150095

In [36]:
# df_base = df_base.iloc[0:2000]

In [37]:
# check for cases with multiple entries
len(df_base) - len(df_base['CaseId'].unique())

# not each case has exactly 1 Product Group and 1 Id
# df_base.drop_duplicates().reset_index(drop=True).groupby('CaseId').count()['Installed Base.Product Group'].sum()
# df_base.drop_duplicates().reset_index(drop=True).groupby('CaseId').count()['Installed Base.InstalledBase ProductID'].sum()

4

In [38]:
# create headers with prefix
# df_groups = [ 'base_group_' + str(group) for group in df_base['Installed Base.Product Group'].unique() ]
# df_ids = [ 'base_id_' + str(ident) for ident in df_base['Installed Base.InstalledBase ProductID'].unique() ]
df_groups = df_base['Installed Base.Product Group'].unique()
df_ids = df_base['Installed Base.InstalledBase ProductID'].unique()

In [44]:
df_base[['Installed Base.Product Group','Installed Base.InstalledBase ProductID']].groupby('Installed Base.InstalledBase ProductID').count()

                                        Installed Base.Product Group
Installed Base.InstalledBase ProductID
base_id_1020023                                                    1
base_id_111150095                                                  4
base_id_111150290                                                  5
base_id_111151799                                                  2
base_id_111319296                                                  2
base_id_111590296                                                  1
base_id_111831590                                                  2
base_id_111863198                                                  2
base_id_111938993                                                  1
base_id_112073597                                                  2
base_id_112121493                                                  1
base_id_112122097                                                  4
base_id_112124497                                                  1
base_id_112126290                                                  2
base_id_112154290                                                  1
base_id_120483595                                                  2
base_id_120549093                                                  2
base_id_120549299                                                  1
base_id_120778098                                                  7
base_id_120868595                                                  1
base_id_120882097                                                  1
base_id_120894791                                                  2
base_id_120897199                                                  5
base_id_120900899                                                  1
base_id_120900991                                                  2
base_id_120909797                                                  2
base_id_120910299                                                  2
base_id_120910597                                                  1
base_id_120910792                                                  1
base_id_120910895                                                  1
...                                                              ...
base_id_9998060                                                    4
base_id_9998061                                                    1
base_id_9998063                                                    1
base_id_9998071                                                    2
base_id_9998074                                                    9
base_id_9998092                                                    1
base_id_9998093                                                    5
base_id_9998388                                                    1
base_id_9998394                                                    6
base_id_9999090                                                    1
base_id_9999093                                                    1
base_id_9999159                                                    2
base_id_9999206                                                    1
base_id_9999220                                                    1
base_id_9999222                                                    2
base_id_9999240                                                    2
base_id_9999497                                                    1
base_id_9999755                                                    2
base_id_9999774                                                    9
base_id_CONT100002                                                 6
base_id_CONT100004                                                 1
base_id_CONT600002                                                 4
base_id_ITEM                                                       2
base_id_MARDE2174495                                               2
base_id_N/A                                                     1693
base_id_TEMPIB                                                   149
base_id_TEMPPP                                                     2
base_id_XYLEM_DEA                                                 17
base_id_XYLEM_HVAC                                                 9
base_id_XYLEM_WW                                                  38

[12277 rows x 1 columns]

#### Encode Product Group

In [ ]:
group_mlb = MultiLabelBinarizer(classes=df_groups)
df_groups_encoded = df_base[['CaseId', 'Installed Base.Product Group']].groupby('CaseId')['Installed Base.Product Group'].apply(lambda x: tuple(x)).reset_index()
df_group_case_ids = df_groups_encoded[['CaseId']]
df_groups_encoded = group_mlb.fit_transform(df_groups_encoded['Installed Base.Product Group'])
df_groups_encoded = pd.DataFrame(df_groups_encoded, columns=group_mlb.classes)
df_groups_encoded = pd.concat([df_group_case_ids, df_groups_encoded], axis=1)

In [ ]:
# # check if every case is encoded correctly

# for c in range(len(case_ids)):
#     if c % 1000 == 0:
#         print(c)
#     caseid = case_ids['CaseId'][c]
# #     print(caseid)
# #     print(df_base[df_base['CaseId']==caseid]['Installed Base.Product Group'])
#     group = df_base[df_base['CaseId']==caseid]['Installed Base.Product Group'].values[0]
#     d = df_groups_encoded[df_groups_encoded['CaseId']==caseid].reset_index(drop=True).iloc[:,1:].values
#     inv_group = group_mlb.inverse_transform(d)[0][0]
#     if group != inv_group:
#         print(group)
#         print(inv_group)
#         print(d)
#         print('###########################################')
#     else:
#         print(group + ' = ' + inv_group)

In [ ]:
# # old encoding

# # create new dataframe with one row for each case id and columns for each base group code
# df_groups_encoded = pd.concat([case_ids, pd.DataFrame(np.zeros([len(case_ids),len(df_groups)], dtype=int), columns=df_groups)], axis=1)
# df_groups_encoded.head()

# # encode base groups for cases
# c = 0
# for row in range(len(df_base)):
#     c+=1
#     if c % 1000 == 0:
#         print(str(c) + '/' + str(len(df_base)))
#     case_id = df_base['CaseId'][row]
#     group = 'base_group_' + str(df_base['Installed Base.Product Group'][row])
#     df_groups_encoded.loc[df_groups_encoded['CaseId']==case_id, group] = 1

In [ ]:
# save
df_groups_encoded.to_csv('df_groups_encoded.csv',header=True,index=False, sep=';')

#### Encode Product ID

In [ ]:
id_mlb = MultiLabelBinarizer(classes=df_ids)
df_ids_encoded = df_base[['CaseId', 'Installed Base.InstalledBase ProductID']].groupby('CaseId')['Installed Base.InstalledBase ProductID'].apply(lambda x: tuple(x)).reset_index()
df_id_case_ids = df_ids_encoded[['CaseId']]
df_ids_encoded = id_mlb.fit_transform(df_ids_encoded['Installed Base.InstalledBase ProductID'])
df_ids_encoded = pd.DataFrame(df_ids_encoded, columns=id_mlb.classes)
df_ids_encoded = pd.concat([df_id_case_ids, df_ids_encoded], axis=1)

In [ ]:
# # old encoding

# # create new dataframe with one row for each case id and columns for each base id code
# df_ids_encoded = pd.concat([case_ids, pd.DataFrame(np.zeros([len(case_ids), len(df_ids)], dtype=int), columns=df_ids)], axis=1)
# df_ids_encoded.head()

# # encode base ids for cases
# c = 0
# for row in range(len(df_base)):
#     c+=1
#     if c % 1000 == 0:
#         print(str(c) + '/' + str(len(df_base)))
#     case_id = df_base['CaseId'][row]
#     ident = 'base_id_' + str(df_base['Installed Base.InstalledBase ProductID'][row])
#     df_ids_encoded.loc[df_ids_encoded['CaseId']==case_id, ident]=1

In [ ]:
# save
df_ids_encoded.to_csv('df_ids_encoded.csv',header=True,index=False, sep=';')

### Symptom Codes

In [ ]:
df_failcodes = df_tr[['Job Card.JobCard Number', 'Job Card.ComponentCode','Job Card.FailureCode']]
df_symptoms = df_symptoms_init[['ComponentCode', 'FailureCode', 'Symptom1', 'Symptom2', 'Symptom3', 'Symptom4']]

In [ ]:
df_failcodes = df_failcodes.rename(columns={'Job Card.JobCard Number':'CaseId'})
#df_symptoms.rename(columns={'Job Card.JobCard Number':'CaseId'})

In [ ]:
# create component code - failure code combination column in traindata
df_failcodes_combo = pd.DataFrame(df_failcodes.apply(lambda x: (x['Job Card.ComponentCode'],x['Job Card.FailureCode']),axis=1), columns=['CompFail'])
df_failcodes = pd.concat([df_failcodes[['CaseId']], df_failcodes_combo], axis=1)

# create component code - failure code combination column in symptom table
symptoms_combo = pd.DataFrame(df_symptoms.apply(lambda x: (x['ComponentCode'],x['FailureCode']),axis=1), columns=['CompFail'])
df_symptoms = pd.concat([df_symptoms[['Symptom1', 'Symptom2', 'Symptom3', 'Symptom4']], symptoms_combo], axis=1)


# merge/join failures on symptoms => translation table
df_map_fail_symp = pd.merge(df_failcodes, df_symptoms, on='CompFail', how='left')
df_map_fail_symp = df_map_fail_symp[['CaseId', 'Symptom1', 'Symptom2', 'Symptom3', 'Symptom4']]

print(len(df_map_fail_symp))
df_map_fail_symp.head()

In [ ]:
# # Problem: there are failcode combination without symptoms in traindata

# a = set(df_symptoms['CompFail'].values.tolist())
# b = set(df_failcodes['CompFail'].values.tolist())
# b.difference(a)

In [ ]:
# distribute symptoms to multiple rows per case
df_case_symptoms = pd.melt(df_map_fail_symp, id_vars=['CaseId'], value_vars=['Symptom1', 'Symptom2', 'Symptom3','Symptom4'])
df_case_symptoms = df_case_symptoms.drop(['variable'], axis=1).dropna().drop_duplicates().reset_index(drop=True)
df_case_symptoms['value'] = df_case_symptoms['value'].apply(lambda x: 'symptom_' + str(x)).reset_index(drop=True)
df_case_symptoms.head()

#### Encode Symptoms

In [ ]:
symptoms_mlb = MultiLabelBinarizer() #classes=symptoms_codes)
df_symptoms_encoded = df_case_symptoms[['CaseId','value']].groupby('CaseId')['value'].apply(lambda x: tuple(x)).reset_index()
df_symptom_case_ids = df_symptoms_encoded[['CaseId']]
df_symptoms_encoded = symptoms_mlb.fit_transform(df_symptoms_encoded['value'])
df_symptoms_encoded = pd.DataFrame(df_symptoms_encoded, columns=symptoms_mlb.classes)
df_symptoms_encoded = pd.concat([df_symptom_case_ids, df_symptoms_encoded], axis=1)

In [ ]:
# # old encoding

# # create new dataframe with one row for each case id and columns for each symptom code
# df_symptoms_encoded = pd.concat([case_ids, pd.DataFrame(np.zeros([len(case_ids), len(symptoms_codes)], dtype=int), columns=symptoms_codes)], axis=1)
# df_symptoms_encoded.head()

# # encode symptoms for cases
# c = 0
# for row in range(len(df_case_symptoms)):
#     c+=1
#     if c % 1000 == 0:
#         print(str(c) + '/' + str(len(df_case_symptoms)))
#     case_id = df_case_symptoms['Job Card.JobCard Number'][row]
#     symptom = df_case_symptoms['value'][row]
#     symptoms_encoded.loc[symptoms_encoded['CaseId']==case_id, 'symptom_' + str(symptom)]=1

In [ ]:
# save
symptoms_encoded.to_csv('symptoms_encoded.csv',header=True,index=False, sep=';')

### Targets

- Product (Name/Nr)
- Duration

<font color='red'> Problem with inconsistent mapping of names and nrs </font>

#### Products

In [ ]:
# # nr of names  and nr of ids is unequal
# print('Nr of Names:' + str(len(df_tr['Product.Product Name'].unique())))
# print('Nr of Number:' + str(len(df_tr['Product.Product Number'].unique())))

In [ ]:
# # There are Product Names with multiple numbers
# count = 0
# for key, item in df_tr[['Product.Product Name','Product.Product Number']].drop_duplicates().reset_index(drop=True).groupby(['Product.Product Name']):
#     if len(item)>1:
#         #print(item)
#         count += 1
# print(count)

In [ ]:
# # There are Product Numbers with multiple Names
# count = 0
# for key, item in df_tr[['Product.Product Name','Product.Product Number']].drop_duplicates().reset_index(drop=True).groupby(['Product.Product Number']):
#     if len(item)>1:
# #         print(item)
#         count += 1
# print(count)

In [ ]:
# we just take product number as target for now
df_case_products = df_tr[['Job Card.JobCard Number', 'Product.Product Number']].drop_duplicates().reset_index(drop=True)
df_case_products['Product.Product Number'] = df_case_products['Product.Product Number'].apply(lambda x: 'product_' + str(x)).reset_index(drop=True)
print(len(df_case_products))
df_case_products.head()

In [ ]:
# get all unique product numbers with prefix
# product_ids = [ 'product_' + str(prod) for prod in df_case_products['Product.Product Number'].unique() ]
product_ids = df_case_products['Product.Product Number'].unique()

#### Encode Products

In [ ]:
product_mlb = MultiLabelBinarizer(classes=product_ids)
df_products_encoded = df_case_products[['Job Card.JobCard Number', 'Product.Product Number']].groupby('Job Card.JobCard Number')['Product.Product Number'].apply(lambda x: tuple(x)).reset_index()
df_product_case_ids = df_products_encoded[['Job Card.JobCard Number']]
df_products_encoded = product_mlb.fit_transform(df_products_encoded['Product.Product Number'])
df_products_encoded = pd.DataFrame(df_products_encoded, columns=product_mlb.classes)
df_products_encoded = pd.concat([df_product_case_ids, df_products_encoded], axis=1)

In [ ]:
df_products_encoded = df_products_encoded.rename(columns={'Job Card.JobCard Number':'CaseId'})

In [ ]:
# # old encoding

# # create new dataframe with one row for each case id and columns for each products number
# products_encoded = pd.concat([case_ids, pd.DataFrame(np.zeros([len(case_ids),len(product_ids)], dtype=int), columns=product_ids)], axis=1)
# products_encoded.head()

# # encode products for cases
# c=0
# for row in range(len(df_case_products)):
#     c+=1
#     if c % 1000 == 0:
#         print(str(c) + '/' + str(len(df_case_products)))
#     case_id = df_case_products['Job Card.JobCard Number'][row]
#     product = df_case_products['Product.Product Number'][row]
#     products_encoded.loc[products_encoded['CaseId']==case_id, 'product_' + str(product)]=1

In [ ]:
products_encoded.to_csv('products_encoded.csv',header=True,index=False, sep=';')

#### Duration

In [ ]:
# # check if multiple dates for one case (in older data yes, in last year no)
# for key, item in df_tr[['Job Card.Date Start Work', 'Job Card.Date End Work','Job Card.JobCard Number']].drop_duplicates().reset_index(drop=True).groupby('Job Card.JobCard Number'):
#     if len(item)>1:
#         print(item)

In [ ]:
# # concat duration per case row
# df_duration = pd.DataFrame(df_tr.apply(lambda x: x['Job Card.Date End Work']-x['Job Card.Date Start Work'],axis=1), columns=['duration'])
# df_duration = pd.concat([df_tr, df_duration], axis=1)
# df_duration = df_duration[['Job Card.JobCard Number', 'duration']].drop_duplicates().reset_index(drop=True).groupby('Job Card.JobCard Number').sum().reset_index(drop=False)

# # df_tr[df_tr['Job Card.JobCard Number']=='C-AT006368-HAFOL JC04.00']
# df_duration.head()

### Other Features (Location etc.)

In [ ]:
# df_locations = df_tr[['Job Card.JobCard Number', 'Location.Country', 'Location.City','Location.Location Type','Location.Postal Code']]

In [ ]:
# df_locations = df_locations.drop_duplicates().reset_index(drop=True)

# # check for duplicate entries (i.e. cases with different location data)
# len(df_locations) == len(df_locations['Job Card.JobCard Number'].unique())

## Concat all data

In [ ]:
traindata = case_ids

In [ ]:
traindata = pd.merge(traindata, df_groups_encoded, on='CaseId', how='left')

In [ ]:
traindata = pd.merge(traindata, df_ids_encoded, on='CaseId', how='left')

In [ ]:
traindata = pd.merge(traindata, df_symptoms_encoded, on='CaseId', how='left')

In [ ]:
traindata = pd.merge(traindata, df_products_encoded, on='CaseId', how='left')

In [ ]:
traindata.shape

### Sanity Check

In [ ]:
df_tr[df_tr['Job Card.JobCard Number']=='CAS-192567-X1B6Y7 JC01.01']

In [ ]:
x = traindata[traindata['CaseId']=='CAS-192567-X1B6Y7 JC01.01']

# check prod nr
print(x['2038370'])
print(x['110851190'])
print(x['501033799'])
print(x['2186199'])

In [ ]:
# check symptoms
df_symptoms[df_symptoms['CompFail']==('CSXQ','CSZ5')]

In [ ]:
print(x['M001'])
print(x['M002'])

### save train data

In [ ]:
traindata.to_csv('WILO_traindata.csv', sep=';', header=True, index=False)

## Check most important features:
- ProductID
- Symptoms